.md-grid {
    max-width: 1680px; 
  }

.md-header__topic:first-child .md-ellipsis {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}

.md-header__topic:first-child .md-ellipsis::before {
    content: "";
    display: inline-block;
    background: url('../overrides/assets/images/logo-header.png') no-repeat center / contain;
    width: 180px;
    height: 34px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}

.md-header__button.md-logo {
    display: none;
}
